---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";
import VideoIframe from "../components/VideoIframe.astro";
---

<Layout>
  <h1>full archive</h1>
  <div class="centered">
    <Button />
  </div>
  <div class="gap">
    <section>
      <VideoIframe videoId="1009499573" autoplayOnView={true} span="span4" title="video commercial about running insoles" />

      <img class="span2" src="https://freight.cargo.site/w/1000/q/75/i/02f98ffc4f43d06a01d04b199e8e7f2292e749b36485b7c4cd4fdd1e3032afce/DSC_9073_web_1.jpg" alt="man in white shirt" />
      <img class="span2" src="https://freight.cargo.site/w/1000/q/75/i/3aec979f451831658a214cd737d7b3a4a0ca0cdc4dc61458e389b46b4f59a05f/DSC_9949_web.jpg" alt="man without pant standing in water" />

      <VideoIframe videoId="260068158" autoplayOnView={true} span="span4" title="video commercial for naturmanden" />
      <!-- Fatmoose -->

      <img src="https://freight.cargo.site/w/1000/q/75/i/da7015edb87bcd77406650d9b3415a28163ec5a7ff1e158a79ace4be513b9c39/Fatmoose_AW21_0297.jpg" alt="man i a winther jacket" />
      <img src="/fatmoose1.webp" alt="man standing under wooden plank building" />
      <img class="aspect span2" src="https://freight.cargo.site/w/12000/q/75/i/d5e8d80681449c12b7aa1f01a4e24974d72dc24745c502f11e8629f8ef1e3413/Fatmoose_AW21.jpg" alt="man in flannel infront of a container" />

      <!-- Fatmoose -->

      <!-- thykassen -->

      <VideoIframe videoId="739581016" autoplayOnView={false} span="span3" titel="video commercial for thykassen" />
      <div>
        <img class="aspect" src="https://freight.cargo.site/w/600/q/75/i/c2f5deac0638fec933a0ac0b1e852affcdab08404b67c9347c06b4835fe1e9d5/thykassen_web.jpg" alt="grøntsagskasse på græs" />
      </div>
      <!-- thykassen -->

      <!-- urbangym -->
      <div>
        <img class="aspect" src="https://freight.cargo.site/w/900/q/94/i/5eeb59c6077a7ff21dde21bd8dfec4e69820b565b9bed021e333018ad8f08bab/UrbanGym_Mikela_280cph-copy.jpg" alt="fitnesskvinde med vægte i hænderne" />
      </div>

      <VideoIframe videoId="353551674" autoplayOnView={false} span="span3" title="video commercial for urban gym" />

      <!-- urbangym -->

      <VideoIframe videoId="285877252" autoplayOnView={true} span="span4" title="video commercial for urban gym" />

      <VideoIframe videoId="1069897374" autoplayOnView={false} span="span2" title="video commercial for viaplay with woman" />
      <VideoIframe videoId="1069906212" autoplayOnView={false} span="span2" title="video commercial for viaplay with man" />
      <VideoIframe videoId="507469248" autoplayOnView={false} span="span4" title="video commercial for vild is" />
    </section>
    <!-- ny test -->
  </div>

  <!-- Denne video autoplay'er når den er i viewport -->

  <div class="centered1">
    <Button />
  </div>
</Layout>

<style>
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .video-wrapper {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9;
    cursor: pointer;
    overflow: hidden;
    background: #000;
  }
  .video-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  h1 {
    margin-bottom: 1rem;
  }
  .centered {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 4rem;
  }

  .centered1 {
    text-align: center;
    margin-bottom: 150px;
    margin-top: 150px;
  }
  .margin_b {
    margin-bottom: 100px;
  }
  .aspect {
    height: 100%;
    object-fit: cover;
  }
  .flex_row {
    display: flex;
    flex-direction: row;
  }

  .span2 {
    grid-column: span 2;
  }

  h1 {
    margin-top: 6rem;
  }
  h3 {
    margin-bottom: 50px;
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  .gap {
    display: flex;
    gap: 25px;
  }

  section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }

  @media (width >= 600px) {
    h1 {
      margin-bottom: 3rem;
    }
    .centered {
      display: none;
    }

    section {
      gap: 25px;
    }
  }
</style>
