---
const { product } = Astro.props;
---

<section class="case_grid">
  <div class="case_left">
    <div>
      <h3>{product.name}</h3>
      <p>
        {product.index_p1}
      </p>
    </div>
    <iframe src={product.resultsvid_left} muted allow="autoplay;"></iframe>
  </div>

  <div class="case_right">
    <iframe class="none" src={product.resultsvid_right} muted allow="autoplay;"></iframe>
    <div class="right_split">
      <img src="https://picsum.photos/seed/picsum/900/1600" alt="" />
      <div class="space">
        <p>{product.index_p2}</p>
        <a href={"case/" + product.id}>Full project</a>
      </div>
    </div>
  </div>
</section>

<style>
  /***********OVERORDNET *********/
  h3 {
    font-size: 2.5rem;
    margin: 0 0 25px 0;
  }
  h2 {
    text-align: center;
    margin: 150px 0 100px 0px;
  }
  p {
    font-size: 0.875rem;
    line-height: 1.5rem;
    padding-bottom: 25px;
  }
  a {
    padding-top: 50px;
  }
  /**************CASES **************/
  .case_grid {
    display: grid;
    margin-bottom: 200px;
    gap: 25px;
  }
  .case_left {
    display: flex;
    flex-direction: column;
  }
  iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* holder proportioner */
    border: none;
    display: block;
  }
  img {
    width: 100%;
  }
  .right_split {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
  }
  .left_split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .none {
    display: none;
  }
  .space {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
  }

  @media (width >= 1024px) {
    p {
      font-size: 1.125rem;
      padding-bottom: 0;
    }
    .none {
      display: block;
    }
    .case_right,
    .case_left {
      display: flex;
      gap: 25px;
      flex-direction: column;
    }
    .case_grid {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
