---
const { singleCase } = Astro.props;
import VideoIframe from "../components/VideoIframe.astro";
---

<section class="case_grid">
  <div class="case_left">
    <div>
      <h3>{singleCase.name}</h3>
      <p>{singleCase.index_p1}</p>
    </div>
    <VideoIframe videoId={singleCase.resultsvid_right} autoplayOnView={true} title={`video commercial for ${singleCase}`} />
  </div>

  <div class="case_right">
    <VideoIframe videoId={singleCase.resultsvid_left} autoplayOnView={false} span="none" title={`video commercial for ${singleCase}`} />
    <div class="right_split">
      <img src={singleCase.hiro_left} alt={`Image from shoot with ${singleCase.name}`} />
      <div class="space">
        <p>{singleCase.index_p2}</p>
        <a href={"case/" + singleCase.id}>Full project</a>
      </div>
    </div>
  </div>
</section>

<style>
  /***********OVERORDNET *********/
  h3 {
    margin: 0 0 25px 0;
  }
  h2 {
    text-align: center;
    margin: 150px 0 100px 0px;
  }
  p {
    padding-bottom: 25px;
  }
  a {
    padding-top: 50px;
  }
  /**************CASES **************/
  .case_grid {
    display: grid;
    margin-bottom: 200px;
    gap: 25px;
  }
  .case_left {
    display: flex;
    flex-direction: column;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    display: block;
  }
  img {
    width: 100%;
  }
  .right_split {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
  }
  .left_split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .none {
    display: none;
  }
  .space {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
  }

  @media (width >= 1024px) {
    p {
      font-size: 1.125rem;
      padding-bottom: 0;
    }
    .none {
      display: block;
    }
    .case_right,
    .case_left {
      display: flex;
      gap: 25px;
      flex-direction: column;
    }

    .container {
      display: flex;
      gap: 25px;

      flex-direction: column-reverse;
    }

    .case_grid {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
