---
const { singleCase } = Astro.props;
---

<!-- <section class="case_grid">
  <div class="case_left">
    <div>
      <h3>{product.name}</h3>
      <p>
        {product.index_p1}
      </p>
    </div>
    <iframe src={product.resultsvid_left} muted allow="autoplay;"></iframe>
  </div>

  <div class="case_right">
    <iframe class="none" src={product.resultsvid_right} muted allow="autoplay;"></iframe>
    <div class="right_split">
      <img src="https://picsum.photos/seed/picsum/900/1600" alt="" />
      <div class="space">
        <p>{product.index_p2}</p>
        <a href={"case/" + product.id}>Full project</a>
      </div>
    </div>
  </div>
</section> -->
<section class="case_grid">
  <div class="case_left">
    <div>
      <h3>{singleCase.name}</h3>
      <p>{singleCase.index_p1}</p>
    </div>

    <iframe id="autoplayVideo" src={`${singleCase.resultsvid_left}?autoplay=1&muted=1&loop=1&background=1`} allow="autoplay; fullscreen"></iframe>
  </div>

  <div class={singleCase.class}>
    <iframe id="hoverVideo" class="none" src={`${singleCase.resultsvid_right}?&muted=1&loop=1`} allow="autoplay;"></iframe>

    <div class="right_split">
      <img src={singleCase.hiro_left} alt="" />
      <div class="space">
        <p>{singleCase.index_p2}</p>
        <a href={"case/" + singleCase.id}>Full project</a>
      </div>
    </div>
  </div>
</section>

<!-- Vimeo Player Script -->

<!-- <script type="module" is:browser>
  import Player from "https://player.vimeo.com/api/player.js";

  const autoplayIframe = document.getElementById("autoplayVideo"); // din altid-afspillende video
  const hoverIframe = document.getElementById("hoverVideo"); // din hover-video

  const autoplayPlayer = new Player(autoplayIframe);
  const hoverPlayer = new Player(hoverIframe);

  hoverIframe.parentElement.addEventListener("mouseenter", () => {
    hoverPlayer.play();
    autoplayPlayer.pause();
  });

  hoverIframe.parentElement.addEventListener("mouseleave", () => {
    hoverPlayer.pause();
    autoplayPlayer.play();
  });
</script> -->

<!-- <script src="https://player.vimeo.com/api/player.js"></script>
<script>
  // Vent til DOM er loaded
  document.addEventListener("DOMContentLoaded", function () {
    const iframe = document.getElementById("hoverVideo");
    const player = new Vimeo.Player(iframe);

    iframe.addEventListener("mouseenter", () => {
      player.play();
    });

    iframe.addEventListener("mouseleave", () => {
      player.pause();
    });
  });
</script> -->

<style>
  /***********OVERORDNET *********/
  h3 {
    margin: 0 0 25px 0;
  }
  h2 {
    text-align: center;
    margin: 150px 0 100px 0px;
  }
  p {
    padding-bottom: 25px;
  }
  a {
    padding-top: 50px;
  }
  /**************CASES **************/
  .case_grid {
    display: grid;
    margin-bottom: 200px;
    gap: 25px;
  }
  .case_left {
    display: flex;
    flex-direction: column;
  }

  iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
    display: block;
  }
  img {
    width: 100%;
  }
  .right_split {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
  }
  .left_split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
  }
  .none {
    display: none;
  }
  .space {
    display: flex;
    flex-direction: column;
    padding-bottom: 4rem;
  }

  @media (width >= 1024px) {
    p {
      font-size: 1.125rem;
      padding-bottom: 0;
    }
    .none {
      display: block;
    }
    .case_right,
    .case_left {
      display: flex;
      gap: 25px;
      flex-direction: column;
    }

    .container {
      display: flex;
      gap: 25px;

      flex-direction: column-reverse;
    }

    .case_grid {
      grid-template-columns: 1fr 1fr;
    }
  }
</style>
