---
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const curl = "https://lescamgejebsqtwecrww.supabase.co/rest/v1/twoeighty_cases?select=*";

  const apikey = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Imxlc2NhbWdlamVic3F0d2Vjcnd3Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDczMDI3MTcsImV4cCI6MjA2Mjg3ODcxN30.aoF4F4HWliGv7dB5WhKHov5-LFWZ-xm_RIfgX_L0Ul8";

  const options = {
    headers: {
      apikey: apikey,
    },
  };

  const response = await fetch(curl, options);
  const data = await response.json();

  return data.map((caseItem) => {
    return {
      params: { id: caseItem.id },
      props: { singleCase: caseItem }, // her bruges singleCase
    };
  });
}

const { id } = Astro.params;
const { singleCase } = Astro.props;
---

<Layout>
  <main>
    <div class="grid_12_1">
      <img class="image_r" src={singleCase.hiro_right} alt=`stemningsbillede fra ${singleCase.name}` />
      <h1>
        <span class="title">introducing </span><br />{singleCase.name}
      </h1>
      <img class="image_l" src={singleCase.hiro_left} alt=`stemningsbillede fra ${singleCase.name}` />
    </div>
    <section class="grid_2_1">
      <div class="left">
        <h3>brief</h3>
        <p>
          {singleCase.brief_text}
        </p>
      </div>
      <img class="right" src={singleCase.brief_img} alt=`stemningsbillede fra ${singleCase.name}` />
    </section>
    <section>
      <div class="centertext">
        <h3>process</h3>
        <p>{singleCase.process_text}</p>
      </div>
      <div class="flex_row1">
        <img class="none1" src={singleCase.process_img1} alt=`stemningsbillede fra ${singleCase.name}` />
        <img src={singleCase.process_img2} alt=`behind-the-scenes-billede fra ${singleCase.name}` />

        <div class="flex_col1">
          <div>
            <img src={singleCase.process_img3} alt=`behind-the-scenes-billede fra ${singleCase.name}` />
          </div>
          <div>
            <img src={singleCase.process_img4} alt=`stemningsbillede fra ${singleCase.name}` />
          </div>
        </div>
        <img src={singleCase.process_img5} alt=`stemningsbillede fra ${singleCase.name}` />
        <img class="none1" src={singleCase.process_img6} alt=`behind-the-scenes-billede fra ${singleCase.name}` />
      </div>
    </section>
  </main>
  <section class="grid_2_1">
    <div class="">
      <h3>results</h3>

      <p>{singleCase.results_text}</p>
      <iframe src={`${singleCase.resultsvid_right}?&muted=1&loop=1`} allow="autoplay;"></iframe>
    </div>
    <iframe class="margin_1" src={`${singleCase.resultsvid_left}?autoplay=1&muted=1&loop=1&background=1`} allow="autoplay; fullscreen"></iframe>
  </section>
</Layout>

<style>
  h3 {
    margin-bottom: 25px;
  }
  iframe {
    width: 100%;
    aspect-ratio: 16 / 9; /* holder proportioner */
    border: none;
    display: block;
  }
  section {
    margin-top: 150px;
  }

  section:last-of-type {
    margin-bottom: 150px;
  }
  .grid_12_1 {
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: auto;
    position: relative;
  }
  .image_r {
    grid-column: 13 / -1;
    grid-row: 1;
    width: 100%;
    height: auto;
    margin-top: 3rem;
  }

  .flex_row1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    margin-top: 50px;
  }
  .flex_col1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    margin-top: 8rem;
  }

  h1 {
    grid-column: 1 / -1; /* Strækker sig over hele række */
    grid-row: 1;
    justify-self: center;
    align-self: center;
    text-align: center;
    z-index: 2;
  }

  .image_l {
    grid-column: 1 / 7;
    grid-row: 1;
    width: 100%;
    height: auto;
  }

  .margin_b {
    margin-bottom: 10px;
  }

  .margin_l {
    margin-left: 25px;
    margin-top: 10%;
  }

  .none1 {
    display: none;
  }
  .center {
    display: flex;
    gap: 0.2rem;
    margin: 0 10%; /* fx 1rem mellem hvert logo */
  }

  img {
    max-width: 100%;
  }

  h1 {
    margin: -3rem;
    position: relative;
    z-index: 2;
  }

  .centertext {
    text-align: center;
  }

  @media (width >=500px) {
    .image_r {
      margin-top: 4rem;
    }
  }

  @media (width >= 750px) {
    .flex_row1 {
      grid-template-columns: repeat(5, 1fr);
    }

    .image_r {
      margin-top: 6rem;
    }
    .none1 {
      display: grid;
      margin-top: 6rem;
    }

    .right {
      grid-row: 1/2;
    }
    .left {
      grid-column: 2/3;
      align-self: center;
    }
    .grid_2_1 {
      display: grid;
      gap: 25px;
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (width >= 900px) {
    .image_r {
      margin-top: 9rem;
    }
  }
</style>
